<a href="https://colab.research.google.com/github/Waflon/DL_Python/blob/main/Python_Tutorial_For_DL_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Python Básico
---

Tutorial orientado a la utilización de python, sus principales caracteristicas y como llegar eventualmente a un Deep Learning y AI
primero que todo, comenzar presionando arriba a la derecha "Conectar"

---
## Acerca de Jupyter notebook
---
Algunos comandos comunes son: luego de ingresar algún valor dentro de la sección de Code, se puede presionar "Ctrl + ENTER" o "Shift + ENTER" para Ver si la linea de texto es correcta, si lo llegará a ser, la procesa y la ejecuta.

Para comenzar, se pueden hacer casi cualquier operación matemática de forma directa y el output será el resultado, estos datos se pierden después de la ejecución, ahí es donde entran en juegos las variables.

El shortcut para una nueva línea de código de forma  se escribe con CTRL + M + B.
Se puede además hacer categorías en los cuadros de texto como este mismo, poniendo un # haces un tema y con ## haces un subtema en el lado izquierdo del notebook (El índice de el archivo)

---
# Variables
---
Las variables tienen una letra o una palabra que las representa, para inicializarla, se pone la variable seguida de el valor que se desea que tenga (estos datos pueden ser: int, float, string, boolean, etc). A diferencia de otros lenguajes, Python tiene la caracteristica de asignar automaticamente el tipo de dato, sin que el usuario deba agregarlo.

In [ ]:
a = 5
b = 4.9
c = 'Ryan'

In [ ]:
a, b, c

(5, 4.9, 'Waflon')

Puede hacerse la muestra de datos, separados por una coma.

Es de suma importancia que a las variables, aparte de asignarles valores, además le agreguemos un nombre relevante y reconocible.
Para el ejemplo, usaremos la funcion print, la cual retorna el valor de la variable.

In [ ]:
ejemploInt = 7
print(ejemploInt)

7

Para agregar comentarios (Los cuales se verán de un color verde usualmente, usamos el símbolo gato #. Pueden ser escritos directamente en el texto y no afectan la ejecución de este.

In [ ]:
# Esto es un comentario

'Esto '

In [ ]:
palabra = "texto con comentario" # Comentario después de código
print(palabra)

texto con comentario

De la misma forma, dentro del print pueden ir multiples variables.

En el caso de las variables de tipo texto (Strings), se pueden utilizar '' o "" para poner dentro el texto de la variable.

In [ ]:
user_name = "Person"
person = 'Natasha'
print(user_name)
print(user_name)

Person
Person

Así mismo se puede usar la función type(), la cual retorna el tipo de dato de la variable. Y podemos usar un print además para recibir la información de forma un poco más precisa.

In [ ]:
type(user_name)

str

In [ ]:
type(person)

str

In [ ]:
print(type(user_name), type(person))

<class 'str'> <class 'str'>

In [ ]:
print(type(a), type(b), type(c))

<class 'int'> <class 'float'> <class 'str'>

También en Python se puede inicializar más de una variable en la misma línea.

In [ ]:
a, b, c = "Pedrito", 5, 3.5

Esto además modificará las variables a, b, c declaradas previamente dentro del código.

In [ ]:
print(type(a), type(b), type(c))

<class 'str'> <class 'int'> <class 'float'>

Para imprimir con formato usamos print(f"") y dentro de los parentesis ponemos entre {} la variable que queremos mostrar

In [ ]:
print(f"Muestra de format Print con el valor {a}")

Muestra de format Print con el valor Pedrito

Una herramienta potente es %whos, la cual nos permite ver el listado total de las variables, tipo de dato y su Data.

In [ ]:
%whos

Variable     Type     Data/Info
-------------------------------
a            str      Pedrito
b            int      5
c            float    3.5
ejemploInt   int      7
palabra      str      texto con comentario
person       str      Natasha
user_name    str      Person

---
## Math and Printing
---

## Operaciones matemáticas con: + - * /

In [ ]:
print(4/3)

1.3333333333333333

El orden de las operaciones es el mismo que la matemática tradicional, primero / y * luego + y -

In [ ]:
print(4/2 + 5)

7.0

El slash inverso significa varias cosas según el lenguaje, en este caso, nos sirve para hacer la continuación de la línea (Sirve principalmente para cuando se tienen líneas de código muy largas.

In [ ]:
4 \
  + 3

7

---
## Potencias
---
Podemos utilizar también ** para potencias y si se sabe de matemáticas, la potencia permite obtener las raices.

In [ ]:
2**3 # 2 potencia de 3

81

In [ ]:
9**(1/2) # raiz cuadrada de 9

3.0

In [ ]:
16**(1/4) # raíz a la cuarta de 16

2.0

Hay que tener cuidado con el orden de las operaciónes, ya que en orden, toma prioridad la potencia y luego el resto de las operaciones tradicionales, por lo tanto, poner los valores de la potencia en paréntesis.

In [ ]:
16**1/4 # acá se procesa 16** y luego lo divide por 4 (No lo que se busca)

4.0

---
## Overloading
---
Se llama Overloading al proceso de utilizar operaciones matemáticas en Strings o otros tipos de datos.

In [ ]:
nombre   = 'Mario'  
apellido = 'Lopez'
# Overloading
print(nombre + apellido )# La suma se transforma en concatenacion
print(nombre + ' ' + apellido) # se puede concatenar además con un espacio o un símbolo
print(nombre*3 + ' ' + apellido*2) # se pueden además repetir los string con un *
# No se puede utilizar el - ni el / (Python arroja error porque no entiende que hacer)

MarioLopez
Mario Lopez
MarioMarioMario LopezLopez

si se quiere imprimir los datos, pero a modo de texto y no de operación matemática, los tranformamos en string con la función str().

In [ ]:
x = 3
y = 4
print(str(x) + ' + ' + str(y) + ' = ' + str(x+y))
# Esto es solo una representación, Python no está procesando las variables matemáticamente

3 + 4 = 7

---
## Input
---
Para cuando se requiere que el usuario ingrese el valor que desee asignar a una variable determinada, podemos utilizar la funcion de input.

In [ ]:
ans = input("Give me a number: ") # Esto se guarda como un dato de tipo entero

Give me a number: 3

Si se quiere sumar la respuesta con un Entero (como por ejemplo ans + 5) , el programa arrojará un error ya que ans queda como tipo de dato String.
Lo que se puede hacer es transformar el tipo de dato con la funcion int().

In [ ]:
int(ans)+ 4 # Áca no arroja ningún error, ya que son el mismo tipo de datos

7

También se puede trabajar de forma directa con una función dentro de otra función.

In [ ]:
ans = int(input("Give me a number: "))
ans + 3

Give me a number: 2

5


---
## Ejercicio de reforzamiento:
---
Resolver el triangulo de pitágoras teniendo 2 catetos.

In [ ]:
# c**2 = a**2 + b**2
ladoA = float(input('Ingresa el largo del cateto A: '))
ladoB = float(input('Ingresa el largo del cateto B: '))
ladoC = ladoA**2 + ladoB**2
print(f"El valor de la hipotenusa es de: {ladoC}")

Ingresa el largo del LadoA: 3
Ingresa el largo del LadoB: 4
25.0

Hacer lo mismo pero con un lado y la hipotenusa.

In [ ]:
ladoA = float(input("Ingresa el valor del Lado A: "))
ladoC = float(input("Ingresa el valor de la Hipotenusa: "))
ladoB = (ladoC**2 - ladoA**2)**(1/2)
print(f"El valor del cateto faltante es de: {ladoB}")

Ingresa el valor del Lado A: 4
Ingresa el valor de la Hipotenusa: 2
El valor del cateto faltante es de: (2.1211504774498136e-16+3.4641016151377544j)

---
##Lists
--- 
Dentro de las variables, también tenemos la variable de tipo lista, que nos permite tener un conjunto de datos. Estos pueden ser del mismo tipo de datos o de distintos tipos de datos.

In [ ]:
numList = [1, 1, 1, 2, 2, 3, 4, 5]
strList = ["lista", "de", "textos"]
mixList = [1, 2, "texto", 4, "más texto"]
listoflists = [1, 2, 3, "hi", "bye", [0.5, 1/4, 'i'], 4, 5.4]

Esta lista de listas queda muy desordenada, por lo que se puede hacer una organizacipon vertical, la cual nos permite comentar y visualizas de mejor manera los datos, de modo que tengan más sentido.

In [ ]:
listoflists = [
               1,               # Números enteros
               2,               # se puede comentar de forma más simple
               3,               # y hacer acotaciones cuando sea adecuado
               "hi",            # como por ejemplo acá donde empiezan los string
               "bye",           # un segundo string
               [0.5, 1/4, 'i'], # o acá ya que es una lista completa como variable
               4,               # luego otro número entero
               5.4              # finalmente un float
               ]

Si queremos buscar un elemento en un lista usamos las palabras reservadas in y not.

In [ ]:
4 in numList # Pregunta si existe un elemento dentro de la lista y retorna un boolean True

True

In [ ]:
49 in numList # Si la condición no se da, se retorna el booleando False

False

In [ ]:
40 not in numList # pregunta si un valor NO está en la lista

True

In [ ]:
print(listoflists)
print([0.5, 0.25, 'i'] in listoflists) # pregunta si existe la lista en listoflists

[1, 2, 3, 'hi', 'bye', [0.5, 0.25, 'i'], 4, 5.4]
True

---
# Methods
---
Es como una función, pero la sintaxis es ligueramente diferente, ya que usamos un . luego del elemento para llamar al método.
Algunos ejemplos de Metodos son:
```
.append()
.sort() 
.count()
.insert()
.remove()
```

In [ ]:
# functions
print(numList)
len(numList)
type(numList)

# methods
numList.append(-1) # Agrega al final de la lista un valor
print(numList)

[1, 1, 1, 2, 2, 3, 4, 5]
[1, 1, 1, 2, 2, 3, 4, 5, -1]

In [ ]:
numList.sort() # Ordena ascendientemente la lista
print(numList)
numList.sort(reverse=True) # Ordena descendientemente la lista
print(numList)

[-1, 1, 1, 1, 2, 2, 3, 4, 5]
[5, 4, 3, 2, 2, 1, 1, 1, -1]

Si usamos la lista Mixta y queremos usar el método sort, este arrojará un error, ya que no se pueden ordenar números y letras juntos, solo se pueden ordenas listas con los mismos tipos de datos.

In [ ]:
numList.count(1) # Cuenta la cantidad de veces que se repite un valor

3

El method insert() recibe 2 valores, el indice donde se desea agregar el dato y el dato a agregar.

In [ ]:
mixList.insert(1, "Hola")  #(index, value)
print(mixList)

In [ ]:
a

'Pedrito'

---
#Booleans
---

In [ ]:
# Es un tipo de dato binario, es el más básico de todos
t = True  # En python tiene que ser con mayúscula
f = False

%whos # Palabra reservada para checkear tipos de datos

No variables match your requested type.

In [ ]:
4 == 4 # Se pueden usar comparadores directos en Jypiter

True

In [ ]:
test = 4 == 4  # Se puede asignar el resultado de una operación a una variable

In [ ]:
type(test)

bool

In [ ]:
4 > 5  # Mayor a

False

In [ ]:
5 != 5 # Distinto a

False

In [ ]:
x = 10
print(5 < x <11)  # Es lo mismo que x > 5 and x < 11

True

In [ ]:
x > 5 or x < 5  # Al menos una de las condiciones debe ser cumplida

True

In [ ]:
bool(0)  # Se puede usar la función bool para cambiar el tipo de dato a bool

False

In [ ]:
bool (3)  # Los números diferentes a 0 es True

True

In [ ]:
bool('true')  # Transforma strings correctamente, cualquier valor es True

True

In [ ]:
bool('') # Solo un empty string arrojará true

False

---
#Dictionary
---

In [ ]:
# Dictionary: key/values pair
d = dict()  # Iniciar lista vacia
d = {}  # Otra forma de inciar una lista vacia
type(d)

dict

In [ ]:
#   Key           Value
d['name'] =      'Mike'
d['ageRange'] =  [20,50]

d

{'ageRange': [20, 50], 'name': 'Mike'}

In [ ]:
e = {'ageRange': [20,50], 'name':'Mike', 'FavColor': 'Purple'}
type(e)

dict

In [ ]:
e.keys()  # Retorna las keys en un determinado dictionary

dict_keys(['ageRange', 'name', 'FavColor'])

In [ ]:
'name' in e  # Existe la llave name en el dictionary

True

In [ ]:
'Mike' in e  # Si buscamos los elementos dentro, nos manda false ya que busca llaves

False

In [ ]:
e.items()  # Retorna todo como una tupla

dict_items([('ageRange', [20, 50]), ('name', 'Mike'), ('FavColor', 'Purple')])

---
##Indexing
---

In [ ]:
# variable          Index
#             0  1  2   3     4       5        6                7
alist     = [ 4, 5, 2, -6, 'texto', 10.01, [1, 2, 3], {'Penguin': 'Yummy'} ] 

alist[3] # el tercer indice corresponde al cuarto elemento

-6

In [ ]:
alist[-1] # Muestra el último elemento

10.01

In [ ]:
alist[6][2]

3

In [ ]:
alist[7]['Penguin']  #Buscar elementos en dictionary dentro de un dictionary

'Yummy'

---
##Slicing
---

In [ ]:
a = range(5,11)
type(a)  # Set of integers that go fron 1 number into another

# a[start:stop:skip]  se sigue este patrón siempre

range

In [ ]:
a = list(range(5,11))  # Transforma un rango a una lista

In [ ]:
#  Slicing
a [:3]   # Busca de 0 a 2 es lo mismo que a[0:3]

[5, 6, 7]

In [ ]:
a[2:]  # Busca desde el elemento con indice 2

[7, 8, 9, 10]

In [ ]:
a[::2]  # Busca de 2 en 2

[5, 7, 9]

In [ ]:
a[::-1]  # Reverse a list

---
#Functions
---

In [ ]:
variable = [1, 2, 3, 4, 5]  # Inputs
output = sum(variable)      # Outputs

print('The sum is: ' + str(output))
print('The mean is: ' + str(sum(variable)/len(variable)) )

The sum is: 15
The mean is: 3.0

---
#Continua en parte 2
---